<h1>Todos</h1>
<main>
    <form (submit)="addTask()">
        <input 
        [(ngModel)]="newTaskTitle"
        placeholder="What needs to be done?"
        name="newTaskTitle"
        />
        <button>Add</button>
    </form>
<div *ngFor="let task of tasks">
    <input 
    type="checkbox" 
    [(ngModel)]="task.completed"
    (change)="saveTask(task)"
     />
    <input [(ngModel)]="task.title">
    <button (click)="saveTask(task)">Save</button>
    <button (click)="deleteTask(task)">Delete</button>
</div>
<div>
    <button (click)="setAllCompleted(true)">Set All Completed</button>
    <button (click)="setAllCompleted(false)">Set All Uncompleted</button>
</div>
</main>